.texto-contato{
    margin-left: 0px;
    margin-right: 15px;
    text-align: justify;
    font-family: 'Noto Serif Display', sans-serif;
    font-size: 17px;
   
}
.social-links{
  padding-block-end: 15px;
  margin-top: 100px;
  align-items: center;
  display: inline-block;       
}
.social-links a{
    margin: 0px 10px;
}

.formulario{
  display: flex; 
 display: inline-block;
 margin-top: 20px;
 margin-right: 50px;
 
}
.contato{
   margin-top: 150px; 
   margin-right: 150px;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: 'Noto Serif Display', serif;

}
.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url('/public/Imagens/cantinho.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right;
    height: 950px;  
    
}

.redes h1{
    color: #50665e;
    margin-top: 50px;   
}

.form-group h2{
    text-align: center;
    color: #c1cac7;
    font-family: 'Noto Serif Display', serif;
}

.form-group{
    width: 300px;
    height: 100%;
    margin-top: 180px;
    color: #c1cac7;
}
.botao {
    color:#50665e;
    margin-top: 5px;
    display: flex;
    text-align: center;
    font-family: 'Noto Serif Display', serif;
}
button{
    
    background-color: #1197cc;
    box-shadow: #094c66 4px 4px 0px;
    border-radius: 8px;
    transition: transform 200ms, box-shadow 200ms;
}
button:active{
transform: translateY(4px) translateX(4px);
box-shadow: #094c66 0px 0px 0px;
}