.topo{
background-color: #C0D6CE;
color: azure;
height: 100px;

}
.social{
    margin-right: 60px;
}
.rd{
    color: #50665e;
}
.nav-link{
    color: #50665e;
    text-decoration: aliceblue;
    font-size: 20px;
    font-family: 'Noto Serif Display', serif;
}


