.resumo{
    display: flex;
}
.sobremim{
    display:inline;
    text-align: justify;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 290px;
    color: #50665e;
    font-size: 20px;
    font-family: 'Noto Serif Display', serif;
   
}
.full{
    margin-left: 160px;
}
.texto-home{
    margin-left: 50px;
    font-family: 'Noto Serif Display', sans-serif;
   
    
}
.sobremim h1{
font-size: 80px;
color:#50665e ;
font-family: 'Noto Serif Display', serif;


}
.imagem-lateral{
    width: 500px;
    height: auto;
  
    
}
.dev-skills{
    margin-top: 50px;
    font-family: 'Noto Serif Display', serif;
}
.skills{
    margin-top: 100px;
    flex-direction: row;
    justify-content: space-around;
    padding-block-end: 15px; 
    align-items: center;
    display: flex;   
    font-family: 'Noto Serif Display', serif;
}
.hab1{
    width: 100px;
    margin-top: 15px;
    flex-direction: row;
    justify-content: space-around;
    padding-block-end: 15px; 
    align-items: center;
    font-family: 'Noto Serif Display', serif;

    
    
}


/*-----------------------------------------Media query ----------------------------------------------------*/
@media (min-width: 360px) and (max-width:576px){
    .resumo {
        text-align: center;
        margin-top: 5px;
    }
    .full{
        text-align: center;
    }
   
    .hab1{
        flex-wrap: wrap;
        justify-content: center;
        display: flex;
    }
   
}
